html, body, #viewDiv {
    width: 100%;
    height: 97%;
    padding: 0;
    margin: 0;
    background-color: #29b563;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
    font-style: bold;
    font-size: 48px;
    color: rgb (33,137,57);
    text-align: center;
}

h2 {
    font-family: 'Bookman Old Style';
    font-size: 20px;
    color: rgb (15,68,28);
    text-align: center;
}

p {
    font-family: 'Bookman Old Style';
    font-size: 20px;
    color: rgb (15,68,28);
    text-align: center;
}
