html {
    height: 100%;
}

body {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    background: #FF4500;
    background: -webkit-linear-gradient(-45deg, #CEFF33, #FF4500);
    background-image: linear-gradient(-45deg, #CEFF33, #FF4500);
}

.main {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    border: 3px solid;
    width: 50%;
    margin-top: 6%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 20px brown;
    background-color: sandybrown;
    border-radius: 50px;
    text-align: center;
}

#convertSentence {
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    text-align: center;
    width: 40%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#convertSentence:empty {
    display: none;
}

#button {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

text {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    text-align: center;
}

#inputNumber {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

select {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    text-align: center;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

h1 {
    font-family: "Bookman Old Style", "Bookman Old Style", sans-serif;
    text-align: center;
}

.dropdown {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    text-align: center;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

.dropdown-content {
    font-family: "Book Antiqua", "Bookman Old Style", sans-serif;
    position: absolute;
    min-width: 160px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px;
    text-align: center;
}
