body {
    background: #59CF96;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #CEFF33, #59CF96);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #CEFF33, #59CF96);
}

.main {
    border: 3px solid;
    width: 50%;
    margin: 10% auto;
    box-shadow: 2px 2px 20px brown;
    background-color: springgreen;
    border-radius: 50px;
}

p {
    margin: 10% auto;
    padding: 10;
    width: 80%;
}

input {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

select {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: green;
}
